# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://umlahymlohzjdiezmwaj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtbGFoeW1sb2h6amRpZXptd2FqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MDIxMTMsImV4cCI6MjA4ODI3ODExM30.joHANURqUlIRPh0t56xnPP2JgJLhTIYvh010Mhf62wk
